body {
  margin: 0px;
  
}
h1{
  color: aliceblue;
  font-size: 3em;
  text-align: center;
}
div{
  /* width: 100vh; */
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: blueviolet;
}

button {
  background-color: aqua;
  padding: 15px 55px;
  border-radius: 15px;
  margin: 20px;
  border: none;
  box-shadow: 15px 10px darkred;
}
.box{
  width: 40vh;
  height: 45vh;
  background-color:crimson ;
  border-radius: 25px;
}

button:focus{
  outline: none;
}
